{
  "root": true,
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "plugins": ["@typescript-eslint"],
  "rules": {
    "@typescript-eslint/no-floating-promises": "error"
  },
  "extends": ["eslint:recommended", "plugin:@typescript-eslint/recommended"]
}
