{
  "root": true,
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "plugins": ["import", "@typescript-eslint"],
  "rules": {
    "@typescript-eslint/no-floating-promises": "error",
    "import/no-default-export": 2,
    "import/no-unresolved": 2,
    "import/default": 2,
    "import/unambiguous": 2,
    "import/first": 2
  },
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:import/typescript"
  ],
  "settings": {
    "import/parsers": {
      "@typescript-eslint/parser": [".ts", ".tsx"]
    },
    "import/resolver": {
      "node": {
        "extensions": [".js", ".jsx", ".ts", ".tsx"]
      },
      "typescript": {
        "alwaysTryTypes": true // always try to resolve types under `<root>@types` directory even it doesn't contain any source code, like `@types/unist`
      }
    }
  }
}
